body{
    background-color: #019BD3;
}

.cadastro-form {
    background-color: white;
    width: 80vw;
    margin: 10vh auto;
    border-radius: 6px;
    box-shadow: 0px 0px 20px black;
}

.titulo{
    background-color: #1668C4;
    height: 45px;
    text-align: center;
    font: bold calc(12px + 1vw)/45px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0px 5px black;
    color: white;
}

.subtitulo{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

.subtitulo > div {
    color: #1668C4;
    font: bold calc(12px + 1vw)/45px sans-serif;
    text-shadow: 1px 1px 1px black;
}

.botao {
    font: bold calc(2px + 1vw) sans-serif;
    background-color: white;
    border: 1px solid #0058A0;
    border-radius: 5px;
    color: #0066B8;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.botao:hover{
    background-color: #1668C4;
    color: white;
}

.conteiner-modal{
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: -10;
    opacity: 0;

}

.modal {
    width: 50vw;
    margin: 10vh auto;
    background-color: white;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form {
    display: grid;
    grid-template-areas:
    "nome nome nome nome"
    "email email celular celular"
    "endereco numero bairro bairro"
    "cidade cidade estado cep";
    gap: 10px;
    padding: 2vh;
}

#nome  { grid-area: nome;}
#email { grid-area: email;}
#celular { grid-area: celular;}
#endereco { grid-area: endereco;}
#numero { grid-area: numero;}
#bairro { grid-area: bairro;}
#cidade { grid-area: cidade;}
#estado { grid-area: estado;}
#cep { grid-area: cep;}

.form > input {
    width: 100%;
}



.exibirModal{
    opacity: 1;
    z-index: 5000;
}

.acao {
    display: flex;
    justify-content: center;
    
}

.botao {
    font: bold calc(2px + 1vw) sans-serif;
    margin: 1vw;
}