/* Fernando Leonid */
.conteiner {
    display: none;
    justify-items: center;
    gap: 1vh;
}

.exibir {
    display: grid;
}
#exibir {
    cursor: pointer;
}

.aprovado {
    color: green;
    margin: 5px;
    border: none;
}

.reprovado {
    color: red;
    margin: 5px;
    border: none;
}